/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fontawesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap/variables";

$grid-float-breakpoint: $screen-xs-min;
$grid-gutter-width: 15px;
$container-tablet:             (720px + ($grid-gutter-width * 2));
$container-desktop:            (940px + ($grid-gutter-width * 2));
$container-large-desktop:      (1140px + ($grid-gutter-width * 2));

@import "bootstrap";

.container {
  max-width: 40em;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

#clearance {
  input[type=submit] {
    margin-bottom: $grid-gutter-width;
  }
  .other-links {
    margin-left: -5px;
    a {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.invisi-field {
  border: none;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
  resize: none;
  &:focus {
    box-shadow: none;
  }
}

.small-col {
  width: $grid-gutter-width*4;
}

.item-name {
  margin-top: 0;
}

.item-actions {
  margin-top: $grid-gutter-width*2;
  > a {
    display: inline-block;
    padding: $line-height-computed 0;
  }
}

@import "*";
